/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */

#galleria-loader{height:1px!important}

.galleria-container {
    position: relative;
    overflow: hidden;
    background: #000;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
}
.galleria-thumbnails-container {

}
.galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
.galleria-thumbnails .galleria-image {
    height: 40px;
    width: 60px;
    background: #000;
    margin: 0 5px 0 0;
    border: 1px solid #000;
    float: left;
    cursor: pointer;
}
.galleria-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #fff;
    font: normal 11px/1 arial,sans-serif;
    z-index: 1;
}
.galleria-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url(classic-loader.gif) no-repeat 2px 2px;
}
.galleria-info {
    text-align: right;
    width: 50%;
    top: 0;
    right: 0;
    z-index: 20;
    position: absolute;
    opacity:0.5;
    filter: alpha(opacity=50);
    transition:1s;
}
.galleria-info:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.galleria-info-text {
    padding:0.5em;
    /* IE7 */ zoom:1;
}
.galleria-info-title {
    font: bold 12px/1.1 arial,sans-serif;
    margin: 0;
    color: #fff;
    margin-bottom: 7px;
}
.galleria-info-description {
    font-family:Arial;
    font-size:0.6em;
    margin: 0;
    color: #FFFFFF;
}
.galleria-image-nav {
    position: absolute;
    bottom:1.2em;
    width: 50%;
    right:1.2em;
    z-index:30;
}
.galleria-image-nav-left,
.galleria-image-nav-right,
.galleria-image-nav-play,
.galleria-image-nav-pause {
    position:absolute;
    bottom:0;
    right:63px;
    cursor: pointer;
    width: 63px;
    height: 90px;
    background-position: 0 0;
}
.galleria-image-nav-left {
    right:126px;
}
.galleria-image-nav-right {
    right:0;
    background-position: 100% 0;
}
.galleria-image-nav-play {
    background-position: -126px 0;
}
.galleria-image-nav-pause {
    background-position: -63px 0;
}
.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover,
.notouch .galleria-image-nav-play:hover,
.notouch .galleria-image-nav-pause:hover  {
    opacity: 1;
    filter: alpha(opacity=100);
}
.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active,
.notouch .galleria-image-nav-play:active,
.notouch .galleria-image-nav-pause:active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.galleria-image-nav-left,
.galleria-image-nav-right,
.galleria-image-nav-play,
.galleria-image-nav-pause {
    background-image: url(mr-controls.svg);
    background-repeat: no-repeat;
}