// content structure is .content-wrapper > .content > ( .content-header .show-content .content-full )

.content-wrapper{

	@include media(momma){
		position: absolute;
		top: 8em;
		left: 1em;
		right:50%;
		bottom: 1em;
		overflow: hidden;
		pointer-events: none;
		z-index: 8;
	}

	@include media(shorty){
		position:static;
	}
}

.feed{
	margin:0.5em;
	@include clearfix;
}

.feed-item{
	padding:0.5em;
	float:left;

	img{
		display:block;
		max-width:100%;
		height:auto;

	}
	@include media(momma){
		width:50%;
		&:nth-child(2n+1){
			clear:left;
		}
	}
	@include media(poppa){
		width:33.33%;
		&:nth-child(2n+1){
			clear:none;
		}
		&:nth-child(3n+1){
			clear:left;
		}
	}
}

.content{
	padding:1em;
	@include colors-content;
	pointer-events: auto;
	
	@include media(momma){
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
		transition:1s;
	}
	
	@include media(shorty){
		position:static;
	}

	img{
		max-width:100%;
		height:auto;
	}
	
}

.feed .content{
	position:static;
	overflow:hidden;
}

.content-header{
	h1{
		margin:0 3rem 0 0;
		font-weight:300;
	}
	a{
		text-decoration:none;
	}

}

@mixin opencontent{
	overflow:visible;
}

.hidden {
	@include media(momma){
		top:auto;
		overflow-y:hidden;
		.content-header{
			cursor:pointer;
		}
		.content-full{
			height:0;
			overflow:hidden;
		}
	}
	@include media(shorty){
		height:auto;
		overflow-y: scroll; /* has to be scroll, not auto */
		  -webkit-overflow-scrolling: touch;
	}
}

.visible{
	@include media(momma){
		top:0;
		transition:1s;
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
	}
}


// Content toggle setup.
// The label in the header triggers the hidden checkbox

// The checkbox

.show-content{
	display:none;
}

// The label
.content-toggle{
	display:none;

	@include media(momma){
		display:block;
		@include media(shorty){
			display:none;
		}
	}
}

.meta{
	@include colors-orange;
	padding:0.5em;
	margin:0.5em 0;
	font-size:small;
}

blockquote{
	font-style: italic;
	border-left: 3px solid $color-orange;
	padding-left: 1em;
	// font-family: 'Georgia, serif';
	cite{
		//nothing here yet
	}
}

