// content structure is .content-wrapper > .content > ( .content-header .show-content .content-full )

.content-wrapper{

	@include media(momma){
		position:absolute;
		top:0;
		right:10%;
		bottom:0;
		left: 10%;
		overflow:hidden;
		pointer-events: none;
		z-index:4;
	}

	@include media(shorty){
		position:static;
	}
}

.feed{
	padding:2em;
	.content{
		margin-bottom:2em;
	}
}

.content{
	padding:1em;
	@include colors-content;
	pointer-events: auto;
	
	@include media(momma){
		position:absolute;
		bottom:0;
		left:0;
		right:0;
	}
	
	@include media(shorty){
		position:static;
	}
	
}

.feed .content{
	position:static;
}

.content-header{
	position:relative;
	h1{
		margin:0;
		font-weight:300;
	}
	a{
		text-decoration:none;
	}

}

@mixin opencontent{
	max-height:1200em;
	overflow:hidden;
}

.content-full{
	transition:0.3s;

	
	
	@include media(momma){
		max-height:20em;

		input[type=checkbox] ~ &{
		max-height:0;
		overflow:hidden;

			@include media(shorty){
				@include opencontent;
			}


		}
		input[type=checkbox]:checked ~ &{
			max-height:20em;
			overflow-y:auto;

			@include media(shorty){
				@include opencontent;
			}
		}
	}

}


// Content toggle setup.
// The label in the header triggers the hidden checkbox

// The checkbox

.show-content{
	display:none;
}

// The label
.content-toggle{
	position:absolute;
	right:1em;
	bottom:1em;

	transition:2s;
	border-radius:50%;
	@include colors-blue;
	width:2em;
	height:2em;
	line-height:2;
	text-align:center;
	z-index:6;
	cursor: pointer;
	display:none;

	@include media(momma){
		display:block;
		top:1em;
		@include media(shorty){
			display:none;
		}
	}
}

.meta{
	@include colors-orange;
	padding:0.5em;
	margin:0.5em 0;
}

