// content structure is .content-wrapper > .content > ( .content-header .show-content .content-full )

.content-wrapper{



	@include media(momma){
		position:absolute;
		top:0;
		right:10%;
		bottom:0;
		left: 10%;
		overflow:hidden;
		pointer-events: none;
		z-index:4;
	}
}

.content{
	@include colors-content;
	pointer-events: auto;
	
	@include media(momma){
		position:absolute;
		bottom:0;
		left:0;
		right:0;

	}
}

.content-header{
	position:relative;
	padding:1em 1em 0;
	h1{
		margin:0;
		font-weight:300;
	}

}
.content-full{
	padding:0 1em 1em;
	transition:0.3s;
	
	@include media(momma){
		input[type=checkbox] ~ &{
		max-height:0;
		overflow:hidden;
		}
		input[type=checkbox]:checked ~ &{
			max-height:20em;
			overflow-y:auto;
		}
	}

}


// Content toggle setup.
// The label in the header triggers the hidden checkbox

// The checkbox

.show-content{
	display:none;
}

// The label
.content-toggle{
	position:absolute;
	right:1em;
	bottom:1em;

	transition:2s;
	transform:rotate(360deg);
	border-radius:50%;
	@include colors-blue;
	width:2em;
	height:2em;
	line-height:2;
	text-align:center;
	z-index:6;
	cursor: pointer;
	display:none;

	@include media(momma){
		display:block;
		top:1em;
	}
}

.content-toggle[checked]{
	transform:rotate(180deg);
}

.credit{
	@include colors-orange;
	padding:0.5em;
}

