*{
	@include box-sizing(border-box);
}
@mixin media($size){
	
	@if $size == momma{
		@media screen and (min-width: 769px){ @content }	
	}
	@else if $size == poppa{
		@media screen and (min-width: 1025px){ @content }
	}
	@else if $size == shorty{
		@media screen and (max-height:30em){ @content }
	}
}

.site-wrapper{
	@include media(momma){
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		overflow:none;
	}
}