.galleria-wrapper{
	@include box-sizing(content-box);
	position:relative;
	background:black;
	width:100%;
	height:0;
	padding-bottom:56.25%;
	
	@include media(momma){
		padding:0;
		height:auto;
		position:absolute;
		top:6em;
		right:0;
		bottom:0;
		left:0;
	}

	@include media(shorty){
		position:relative;
		top:0;
		height:0;
		padding-bottom:56.25%;
	}
}
.galleria{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2;
}

iframe{
	pointer-events:auto;
	width:100%;
	height:100%;

}


.wallpaper{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size:cover;
}

.screen-reader-text{
	display:none;
}