@mixin menuitem{
	color:white;
	text-decoration:none;
	display:block;
	padding:1em 1em 0.75em 1em;
	line-height:4;
	background-color:$color-ground;
	&:hover{
		background-color:adjust-lightness($color-ground, 5);
	}
}

.header-menu{
	  position:absolute;
	  top:0;
	  right:0;
	  left:0;
	  padding:0 0 0.25em 0;
	  pointer-events:none;

	ul{
		pointer-events:auto;
		position:absolute;
  		left:0;
  		right:0;
  		top:100%;
		list-style:none;
		padding:0;
		margin:0;
		z-index:5;
		@include media(momma){
			position:static;
			float:right;
			@include inline-block-list;
		}
	}
	a{
		@include menuitem;
		@include media(momma){
			display:inline-block;
			float:right;
		}
	}
}


.header-menu input[type=checkbox] ~ ul{
	max-height:0;
	overflow:hidden;
	transition:0.3s;
	@include media(momma){
		max-height:13em;
	}
}
.header-menu input[type=checkbox]:checked ~ ul{
	max-height:24em;
	overflow:hidden;
}

.showmenu-label{
	pointer-events:auto;
	@include menuitem;
	cursor: pointer;
	float:right;
	@include media(momma){
		display:none;
	}

}
.showmenu{
	display:none;
}


// toggles

@mixin toggles{
	font-family:Georgia, serif; 
	font-weight:bold;
	font-style:italic;
	display:block;
	border-radius:50%;
	border:solid white 0.25em;
	@include colors-orange;
	width:2.5em;
	height:2.5em;
	line-height:2;
	text-align:center;
	cursor: pointer;
 }


.content-toggle{
	@include toggles;
	position: absolute;
	z-index: 20;
	top: 6.75em;
	left: 0.75em;
}


// post-navigation

.post-navigation{
	padding:1em;
	@include clearfix;
	a{
		color:white;
	}
	@include media(momma){
		 position: absolute;
		 top:6em;
		 bottom: 0;
		 right: 0;
		 width: 50%;
	}
}

.nav-previous{
	float:left;
}
.nav-next{
	float:right;
	 @include media(momma){
	 	position:absolute;
	 	bottom:1em;
    }
}