@mixin menuitem{
	color:white;
	text-decoration:none;
	display:block;
	padding:1em 1em 0.75em 1em;
	line-height:4;
	background-color:$color-ground;
	&:hover{
		background-color:adjust-lightness($color-ground, 5);
	}
}

.header-menu{
	  position:absolute;
	  top:0;
	  right:0;
	  left:0;
	  padding:0 0 0.25em 0;
	  pointer-events:none;

	ul{
		pointer-events:auto;
		position:absolute;
  		left:0;
  		right:0;
  		top:100%;
		list-style:none;
		padding:0;
		margin:0;
		z-index:5;
		@include media(momma){
			position:static;
			float:right;
			@include inline-block-list;
		}

		a, .active{
			@include menuitem;
			@include media(momma){
				display:inline-block;
				float:right;
		}
	}
	}



	.switcher {
	  // position: absolute;
	  // top: 0.2rem;
	  // right: 0.4rem;
	  width: 3.6em;
	  display: inline-block;
		float: right;
		margin: 2.1em 1em 2.1em 1em;
		z-index: 15;
		pointer-events:auto;
	}


	.switch {
	  line-height: 1.8;
	  display: inline-block;
	  // float:right;
	  background-color: adjust-lightness($color-ground, 10);
	  width: 1.8em;
	  height: 1.8em;
	  text-align: center;
	  // margin-top: 2em;
	}

	.switch:first-child {
	  border-radius: 50% 0 0 50%;
	}

	.switch:last-child {
	  border-radius: 0 50% 50% 0;

	}

	.switch.switchactive {
	  background-color: $color-blue;
	  color: $color-ground;
	}
}


.header-menu input[type=checkbox] ~ ul{
	max-height:0;
	overflow:hidden;
	transition:0.3s;
	@include media(momma){
		max-height:13em;
	}
}
.header-menu input[type=checkbox]:checked ~ ul{
	max-height:24em;
	overflow:hidden;
}

.showmenu-label{
	pointer-events:auto;
	@include menuitem;
	cursor: pointer;
	float:right;
	@include media(momma){
		display:none;
	}

}
.showmenu{
	display:none;
}


// toggles

@mixin toggles{
	font-family:Georgia, serif; 
	font-weight:bold;
	font-style:italic;
	display:block;
	border-radius:50%;
	border:solid white 0.25em;
	@include colors-orange;
	width:2em;
	height:2em;
	line-height:1.5;
	text-align:center;
	cursor: pointer;
 }


.content-toggle{
	@include toggles;
	position: absolute;
	z-index: 20;
	top: 6.5em;
	left: 0.5em;
}


// post-navigation

.post-navigation{
	padding:1em;
	@include clearfix;
	a{
		color:white;
	}
	@include media(momma){
		 position: absolute;
		 top:6em;
		 bottom: 0;
		 right: 0;
		 width: 50%;
	}
}




.nav-previous{
	float:left;
	a {
		text-decoration: none;
		}
	// i {
	// 	font-size: 4em;
	// 	vertical-align: middle;
	// 	margin-top: 6px;
	// }

	span {
		vertical-align: middle;
	}
}

.nav-next{
	float:right;
	a {
		text-decoration: none;
		}

	// i {
	// 	font-size: 4em;
	// 	vertical-align: middle;
	// 	margin-top: 6px;
	// }

	span {
		vertical-align: middle;
	}

	 @include media(momma){
	 	position:absolute;
	 	bottom:1em;
    }
}

// paging-navigation

.paging-navigation{

	padding: 0 10px;
	width: 100%;
	.nav-next{
		float: right;
		position: relative;
		bottom: 0;
	}

	a, a:visited{
		color: white;
	}
}

.post-image-nav-left,
.post-image-nav-right {
    // position:relative;
    bottom:0;
    right:63px;
    cursor: pointer;
    width: 63px;
    height: 90px;
    background-position: 0 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: inline-block;
}
.post-image-nav-left {
    right:126px;
}
.post-image-nav-right {
    right:0;
    background-position: 100% 0;
}

.post-image-nav-left,
.post-image-nav-right {
    background-image: url(js/galleria/themes/marcrees/mr-controls.svg);
    background-repeat: no-repeat;
}

.post-image-nav-left:active,
.post-image-nav-right:active,
 {
    opacity: 1;
    filter: alpha(opacity=100);
}

.post-image-nav-left:hover,
.post-image-nav-right:hover,
 {
    opacity: 1;
    filter: alpha(opacity=100);
}